$layout-width-inner: 1000px;

$color-main: #AF91E5;
$color-background1: #f3ecdf;
$color-background2: #e0ca6c;
$color-text1: #232c28;
$color-bg-box: #434343;
$color-tag1: #e96d43;
$color-tag2: #e0ca6c;
$color-tag3: #6aaa72;
$color-tag4: #759de4;

